<div class="welcome_div">

<h1 class="welcome">New Lecture</h1>

<%= form_with scope: :lecture, url: lectures_path do |f| %>
    <%= f.label :student%><br>
    <%= f.text_field :student%><br>

    <%= f.submit "Start" %>

    <% flash.each do |type, msg| %>
	  <div>
	    <%= msg %>
	  </div>
	<% end %>
<%end%>

</div>