<div class="welcome_div">

<h1 class="welcome">Lecture View</h1>

<% if is_instructor?  %>
    <h1 class="greeting">Viewing as Instructor</h1>
    
    <%= form_with scope: :lecture, url: url_for(:action => 'terminate', :lec_id => params[:lec_id]), method: "post" do %>
        <%= submit_tag 'End Lecture' %>
    <%end%>

<%end%>

<% if is_student? %>
    <h1 class="greeting">Viewing as Student</h1>
<%end%>

<%= button_to "Go to Dashboard", user_index_path, method: :get%>
<%= link_to "Start Video", "", { :onclick => "history.go(0)" }%>

<div>
	<iframe src="<%= @sheet_music_path %>" width="1500px" height="600px" style="border: none; padding-top: 20px;"></iframe>
</div>

<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<script>
	$( document ).on('turbolinks:load', function() {
  		callFrame = window.DailyIframe.createFrame({
		 iframeStyle: {
		    position: 'relative',
		    border: '1px solid black',
		    width: '80%',
		    height: '600px',
		    right: '1em',
		    bottom: '1em',
		    margin: '100px 0px 0px 200px'
		 },
		 showLeaveButton: true,
		 });
	callFrame.join({ url: '<%= @chat_url %>'})
	})
</script>



</div>