<h1> <%= current_user.username %>'s Dashboard </h1>

<% if is_student? %>
    <h1>Student Mode</h1> 
    <%= button_to "Join Lecture", join_path, method: :get%>
<%end%>

<% if is_instructor? %>
    <h1>Instructor Mode</h1>
    <br>
    <%= button_to "Start Lecture", newlecture_path, method: :get%>
<%end%>


<%= button_to "Home", welcome_path, method: :get%>
<%= button_to "Logout", logout_path, method: :post%>

